mixin buttons (className)
  button(type="button" class=`${className}__but ${className}__prev`) 
    +icon('arrow-down', `${className}__but-pic ${className}__prev-pic`)            
  button(type="button" class=`${className}__but ${className}__next`)
    +icon('arrow-down', `${className}__but-pic ${className}__next-pic`)                